@charset "UTF-8";
// #f471b6 #34d399 #c084fc
// #fbbf24 #60a5fa #818cf8  https://szmichalczyk.com/  border-bottom: 1px solid hsla(0, 0, 100, 0.1);

body,
html {
  width: 100%;
  height: 100%;
  background-color: #111414;
  color: #efefef;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  color: inherit;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 20px 40px;
  background-color: transparent;
  //   backdrop-filter: blur(8px);
  transition: top 0.3s ease-in-out;
  z-index: 999;
  &__logo,
  &__menuButton {
    font-size: 1.1em;
    font-weight: 700;
  }
  &__menuButton {
    padding: 6px 10px;
    border: 2px solid #fbbf24;
    border-radius: 30px;
  }

  &.hide {
    top: -100%;
  }
  &__nav {
    display: none;
    position: absolute;
    top: 74px;
    right: 0;
    text-align: center;
    .header {
      &__list {
        display: flex;
        flex-direction: column;
        text-align: right;
      }
      &__item {
        opacity: 0;
        position: relative;
        right: -100px;
        font-size: 1.2em;
        padding: 12px 40px;
        overflow: hidden;
        // transition: all 1s ease;
        a {
          height: auto;
          padding: 6px 10px;
          border: 2px solid #fbbf24;
          border-radius: 30px;
        }
      }
    }
  }
}

.main,
footer {
  section {
    padding: 50px 10%;
    // background-color: yellow;
  }
}
.main {
  //  섹션정의
  &__section {
    // display: block;
    // height: auto;
    // border-bottom: 1px solid #333;

    // 인트로
    &.intro {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      text-align: center;
      .intro__content {
        .intro {
          &__title {
            font-size: 5rem;
          }
          &__imgbox {
            width: 370px;
            height: 420px;
            margin: auto;
            background-color: #ddd;
            border: 1px solid #000;
            border-radius: 30px;
          }
          &__subtitle {
            font-size: 2rem;
          }
        }
      }
    }
    // works 작업내역
    &.works {
      .works__list {
        .works {
          &__item {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 70px 0;
            border-bottom: 1px solid rgba(200, 200, 200, 0.2);
            .works {
              &__info {
                .works__title {
                  font-size: 3.8em;
                  line-height: 1.8;
                }
                .works__keywords {
                  font-size: 1.4em;
                  .works__kinds {
                    color: #efefefae;
                    font-weight: 300;
                    padding: 4px 6px;
                    // border: 1px solid rgba(255, 255, 255, 0.5);
                    // border-radius: 30px;
                    &:last-of-type {
                      position: relative;
                      padding-left: 20px;
                      border: none;
                    }
                    &:last-of-type::before {
                      position: absolute;
                      left: 0px;
                      top: 50%;
                      transform: translateY(-50%);
                      content: "|";
                    }
                  }
                }
              }
              &__year {
                .works__period {
                  font-size: 1.6em;
                  font-weight: 300;
                  color: #efefefae;
                }
              }
            }
          }
        }
      }
    }
    // education 학력
    &.education {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 100px 10%;
      .edu {
        &__info {
          max-width: 40%;
          .edu__title {
            font-size: 3.8em;
            line-height: 1.5;
            margin-bottom: 30px;
          }
          .edu__desc {
            font-size: 1.6em;
            font-weight: 400;
          }
        }
        &__list__wrap {
          min-width: 50%;
          .edu {
            &__list {
              text-align: left;
              font-size: 1.4em;
              font-weight: 300;
              //   color: #efefefae;
              .edu {
                &__item {
                  display: flex;
                  align-items: center;
                  .edu__period {
                    min-width: 230px;
                  }
                  .edu__name {
                  }
                }
              }
              + .edu__list {
                margin-top: 50px;
              }
            }
          }
        }
      }
    }
    // skills 스킬
    &.skills {
      padding: 100px 0;
      overflow: hidden;
      .skills {
        &__list {
          display: flex;
          flex-wrap: nowrap;
          animation: scroll 1s linear infinite alternate-reverse;
          overflow: hidden;
        }
        @keyframes scroll {
          0% {
            transform: translateX(10%);
          }

          100% {
            transform: translateX(-10%);
          }
        }
        &__item {
          max-width: 200px;
          margin-right: 60px;
        }
        &__img {
          width: 100%;
          vertical-align: top;
        }
      }
    }
    // contact
    &.contact {
      .contact__content {
        position: relative;
        .contact {
          &__image {
            position: absolute;
            top: 0;
            width: 6em;
            height: 6em;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              border-radius: 50%;
            }
          }
          &__image::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 1.2em;
            height: 1.2em;
            background-color: #c084fc;
            border: 0.125em solid #efefef;
            border-radius: 50%;
            z-index: 90;
            content: "";
          }
          &__title {
            text-indent: 2em;
            font-size: 3.8em;
            max-width: 60%;
            word-break: keep-all;
            margin-bottom: 20px;
          }
        }
      }
    }
    .contact__mail {
      font-size: 2.39em;
      color: #c084fc;
      padding: 20px 0;
    }
  }
  // sideproject
  &.sideproject {
  }
}

// 보더 애니메이션
.section__title {
  position: relative;
  font-size: 2.39em;
  padding: 30px 0;
  transition: top 0.3s ease-in-out;
  sup {
    font-size: 0.6em;
    color: #fbbf24;
  }
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255);
    animation: drawBorder 1s linear forwards;
    content: "";
  }
}

.footer {
  .footer__copyright {
    position: relative;
    padding-top: 30px;
    color: rgba(255, 255, 255, 0.5);
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: transparent;
      border-bottom: 1px solid rgba(255, 255, 255);
      animation: drawBorder 1s linear forwards;
      content: "";
    }
  }
}

@keyframes drawBorder {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

//  media screen
//  media screen
//  media screen

/* desktop 규격 */
@media screen and (min-width: 1024px) {
  body,
  html {
  }
}

/* tablet 규격 */
@media screen and (max-width: 1023px) {
  body,
  html {
    background-color: gray;
  }
}

/* mobile 규격 */
@media screen and (max-width: 540px) {
  body,
  html {
    background-color: #111414;
  }
  .header {
    &.hide {
      //   top: 0;
    }
  }
}
