@charset "UTF-8";
// #f471b6 #34d399 $custom-purple
// $custom-yellow #60a5fa #818cf8  https://szmichalczyk.com/  border-bottom: 1px solid hsla(0, 0, 100, 0.1);

$custom-yellow:#fbbf24;
$custom-purple:#c084fc;
$custom-pink:#f471b6;
$custom-green:#34d399;
$custom-blue:#60a5fa;


body,
html {
	width: 100%; height: 100%; background-color: #111414; color: #efefef;
	margin: 0; padding: 0; list-style: none; box-sizing: border-box;
}

a {text-decoration: none; color: inherit;}

button {background: inherit; border: none; box-shadow: none; border-radius: 0; overflow: visible; color: inherit; cursor: pointer;}

.only-mobile { display: none;}
.only-tablet { display: none;}

.middot-list li{position: relative;padding-left: .8rem !important;}
.middot-list li:before {
	display: block;position: absolute;top: 60%; left: 2px;
	width: 4px;height: 4px;border-radius: 50%;background-color: rgba(255, 255, 255, .4);
	transform: translateY(-50%); content: "";
}

.header {
	display: flex; justify-content: flex-end; align-items: center;
	position: fixed; top: 0; width: 100%; height: 100px; padding: 20px 60px;
	animation: fadeIn 0.5s 2.8s forwards;
	transition: top 0.3s ease-in-out; transform: translateY(-100%); opacity: 1;
	z-index: 999;
	.logo,
	.menu-button {
		font-size: 1.125rem; font-weight: 800;
	}
	@keyframes fadeIn {
		100% {
			transform: translateY(0); opacity: 1;
		}
	}
	.logo {
		position: absolute; top: 50%; left: 60px; transform: translateY(-50%); transition: all 0.3s ease-in-out;
		&.hide {
			top: -100%;
		}
	}
	.menu-button {
		padding: 4px 12px; border: 2px solid $custom-yellow; border-radius: 24px;
	}

	.nav {
		display: none; position: absolute; top: 74px; right: 0; text-align: center;

		.menu_list {
			display: flex; flex-direction: column; text-align: right;
			.menu {
				opacity: 0; position: relative; right: -100px; font-size: 1.125rem; padding: 12px 40px;
				overflow: hidden;
				&:hover {
					transform: rotate(26deg);
					a {
						background-color: $custom-purple;
					}
				}
				a {
					height: auto; padding: 4px 12px; font-weight: 600;border: 2px solid $custom-yellow; background-color: #111414; border-radius: 24px;
				}
			}
		}
	}
}

.main,
footer {
	display: flex;align-items: center;flex-direction: column;
}
// section {width: calc(100vw - 480px);}
section {width: 1440px;}

.main {
	gap:160px;padding-top: 100px;overflow: hidden;
	section {

		.section-title {
			position: relative;padding: 32px 16px;font-size: 2rem; font-weight: 700; color:$custom-yellow;
			sup {
				font-size: 0.875rem;
			}
			&:before {
				position: absolute;bottom: -1px;left: 0;width: 100%;height: 2px;
				background-color: $custom-yellow;transform: scaleX(0);transform-origin: left center;transition: transform 0.5s ease-out;
				content: "";
			}
			&.animate-border:before {
				transform: scaleX(1);
			}
		}

		// 인트로섹션
		&.intro {
			position: relative; height:  calc(100dvh - 100px);
			.content {
				display: flex; flex-direction: column; justify-content: center; align-items: center;
				.main-title {
					position: absolute; font-size: 4.5rem;font-weight: 700;
					opacity: 0;
					&.from-top {top: 19%; transform: translateY(-200%) scale(3); animation: mainTitleTop 1.5s forwards;}
					&.from-bottom {bottom: 30%; transform: translateY(200%) scale(3); animation: mainTitleBottom 1.5s forwards;}

					@keyframes mainTitleTop {
						65% {
							opacity: 1; transform: translateY(140px) scale(1);
						}
						75% {
							opacity: 1; transform: translateY(140px) scale(1);
						}
						100% {
							opacity: 1; transform: translateY(0) scale(1);
						}
					}
					@keyframes mainTitleBottom {
						65% {
							opacity: 1; transform: translateY(-140px) scale(1);
						}
						75% {
							opacity: 1; transform: translateY(-140px) scale(1);
						}
						100% {
							opacity: 1; transform: translateY(0) scale(1);
						}
					}
				}
				.img-box {
					display: flex; justify-content: center; align-items: center;
					position: absolute; left: 50%; top: 45%; transform: translate(-50%, -50%); height: 0; width: 260px;
					border-radius: 24px; animation: introImgBox 0.8s 1.2s forwards ease-in-out;
					background-size: cover;
					overflow: hidden;
					.intro-img {
						max-width: 260px; max-height: 260px; min-width: 220px; min-height: 220px;
						background: url(../images/intro.png) center center no-repeat; background-size: cover;border-radius: 24px;
					}
					@keyframes introImgBox {
						100% {
							height: 260px;
						}
					}
				}
				.sub-title {
					position: absolute; font-size: 1.125rem; font-weight: 400;color: hsla(0, 0%, 100%, .6);text-align: center; opacity: 1;
					&.first {
						bottom: 22%; animation: fadeIn 1s 2s forwards; opacity: 0; transform: translateY(20px);
					}
					&.second {
						opacity: 0; bottom: 19%; animation: fadeIn 1s 2.3s forwards; transform: translateY(20px);
					}
				}
			}
		}

		// works 섹션
		&.works {
			.works-list {
				.work {
					padding: 40px 16px; border-bottom: 1px solid rgba(200, 200, 200, 0.2);
					.info {
						.customer {font-size: 1.125rem;color:rgba(255,255,255,.6);}
						.title {
							font-size: 3.5rem;font-weight: 500;
						}
					}
					.desc {
						display: flex;justify-content: space-between;padding-top: 24px;
						.keywords {
							font-size: 1.125rem;
							.kinds {
								color:rgba(255,255,255,.6);font-weight: 400;
								img {
									height: 28px;padding-bottom: 4px;vertical-align: middle;
								}
								&:last-of-type {position: relative; padding-left: 20px; border: none;}
								&:last-of-type::before {position: absolute; left: 6px; top: 50%;font-size: 1rem; transform: translateY(-50%); content: "|";}
							}
						}
						.period {
							font-size: 1.25rem; font-weight: 400; color: #efefefae;
						}
					}
				}
			}
		}


		// education 학력
		&.education {
			.flex-wrap {
				display: flex; align-items: flex-start;justify-content: space-between;gap:80px; padding: 60px 16px;
				.group {
					&.g1 {
						.edu-title {font-size: 3.8rem; font-weight: 700;line-height: 1.5; margin-bottom: 30px;}
						flex-basis:auto;
					}
					&.g2 {
						display: flex;flex-direction: column;gap: 24px;
						flex-basis:60%;
						h4 {font-size: 1.25rem;font-weight: 500;color:rgba(255,255,255,.8);}
						.item {
							display: flex;flex-direction: column; gap: 16px;padding: 32px 0;
								.text-list {
									display: flex;flex-direction: column;gap:8px;
									text-align: left; font-size: 1.4rem; font-weight: 400;
									.text {
										display: flex; align-items: flex-start;
										.period {
											flex-basis: 260px;color:rgba(255,255,255,.6);
										}
										.label {
											font-weight: 500;word-break: keep-all;
										}
										&:has(.academy):last-of-type {margin-top: 20px;}
										.academy {
											ul {
												 font-size: 0.875rem;color:rgba(255,255,255,.6);
												 li {
													padding: 2px 0 ;
													&:first-of-type{padding-top: 8px;}
												 }
											}
										}
									}
								}
						    +.item {border-top: 1px solid hsla(0, 0%, 78%, .2);;}
						}
					}
				}
			}
		}

		// archibe 보관소 공유
		&.archiving {
			.archive-list {
				display: flex; gap: 60px;padding: 80px 0;
				li {
					flex-basis:25%;
					.link {
						display: flex;flex-direction:column;gap: 16px; padding: 40px;
						border: 1px solid rgba(200, 200, 200, 0.2);border-radius: 24px;
						transition: all 0.3s ease-in;
						&:hover {
							border-color:$custom-yellow;
							.title {color: $custom-yellow;}
						}
						h4{font-size: 1.5rem;font-weight: 700;}
						.title{padding-top: 8px;}
						.url{color:rgba(255,255,255,.6);}
					}
				}
			}
		}

		// skills section
		&.skills {
			.skill-list {
				display: flex; flex-wrap: nowrap;gap: 60px; animation: scroll 2s linear infinite alternate-reverse;
				padding: 80px 0 0 60px;margin: 0 -36%;
				overflow: hidden;

				@keyframes scroll {
					0% {
						transform: translateX(14%);
					}
					100% {
						transform: translateX(-14%);
					}
				}
				.skill {
					max-width: 200px;
					.img {width: 160px; vertical-align: top;}
				}
			}
		}

		//contact section
		&.contact {
			.content {
				position: relative;
				.image-wrap {
					display: none; /*임시*/
					position: absolute;top: 0;width: 6em;height: 6em;
					&::after {
						position: absolute;top: 0;right: 0;width: 1.2em;height: 1.2em;
						background-color: $custom-purple;border: 0.125em solid #efefef;border-radius: 50%;
						z-index: 90;
						content: "";
					}
					img {
						width: 100%;height: 100%;object-fit: cover;object-position: center;border-radius: 50%;
					}
				}
				.title {
					// text-indent: 2em;
					font-size: 3.8em;font-weight: 700; max-width: 60%;word-break: keep-all;padding: 0 16px 24px;
				}
				.phone,
				.mail {
					font-size: 2rem;font-weight: 500;color: $custom-purple;padding: 16px;
				}
			}
		}

		// sideproject section
		&.sideproject {

		}


	}
}
.footer {
	padding: 60px 0;
	.footer_copyright {
		position: relative;padding-top: 30px;color: rgba(255, 255, 255, 0.5);
		&:after {
			position: absolute;top: 0;left: 0;width: 0;height: 1px;
			background: transparent;border-bottom: 1px solid $custom-purple;
			transition: all 0.5s ease-out;
			content: "";
		}
	}

	//푸터 영역에서 스크롤 이벤트 발생 시, 애니메이션 효과를 추가해주는 클래스
	.footer_animate {
		&:after {
			width: 100%;
		}
	}
}



/* desktop 규격 */
@media screen and (min-width: 1921px) {
	body,
	html {
	}
	section {width: 1600px;}
	.main section.intro .content .main-title.from-top {top: 24%;}
	.main section.intro .content .main-title.from-bottom {bottom: 34%;}
	.main section.intro .content .sub-title {font-size: 1.75rem;}
	.main section.intro .content .sub-title.first {bottom: 22%;}
	.main section.intro .content .sub-title.second {bottom: 18%;}
	.main section.intro .content .img-box .intro-img {min-width: 260px;min-height: 260px;}
	.main section.skills .skill-list .skill .img {width: 180px;}
}

@media screen and (min-width: 1024px) {
	body,
	html {
	}
}

/* tablet 규격 */
@media screen and (max-width: 1023px) {
	body,
	html {
	}
}

/* mobile 규격 */
@media screen and (max-width: 540px) {
	body,
	html {
	}
	.header {

	}
}

