@charset "UTF-8";

@include respond-to(tablet) {
	body,
	html {
	}
	.only-tablet { display: block;}
	.header {
		height: 100px; padding: 32px;
		.logo,
		.menu-button {
			font-size: 1.125rem;
		}
		.logo {left: 32px;}
		.menu-button {padding: 4px 12px;}
		.nav {
			top: 84px;
			.menu_list {
				gap:0px;
				.menu {
					font-size: 1.5rem; padding: 12px 32px;
					a {padding:4px 12px;}
				}
			}
		}
	}
	section {width: calc(100vw - 64px);}
	.main {
		gap:60px;padding-top: 100px;
		section {
			.section-title {
				padding: 32px 0 24px 8px;font-size: 1.75rem;
			}
			// 인트로섹션
			&.intro {
				height:  calc(100dvh - 100px);
				.content {
					.main-title {
						font-size: 3.5rem; opacity: 0;
						&.from-top {top: 19%; }
						&.from-bottom {bottom: 30%;}
						@keyframes mainTitleTop {
							65% {
								opacity: 1; transform: translateY(140px) scale(1);
							}
							75% {
								opacity: 1; transform: translateY(140px) scale(1);
							}
							100% {
								opacity: 1; transform: translateY(0) scale(1);
							}
						}
						@keyframes mainTitleBottom {
							65% {
								opacity: 1; transform: translateY(-140px) scale(1);
							}
							75% {
								opacity: 1; transform: translateY(-140px) scale(1);
							}
							100% {
								opacity: 1; transform: translateY(0) scale(1);
							}
						}
					}
					.img-box {
						width: 260px;
						.intro-img {
							max-width: 260px; max-height: 260px; min-width: 220px; min-height: 220px;
						}
						@keyframes introImgBox {
							100% {
								height: 260px;
							}
						}
					}
					.sub-title {
						&.first {
							bottom: 22%;
						}
						&.second {
							bottom: 18%;
						}
					}
				}
			}

			// works 섹션
			&.works {
				.works-list {
					.work {
						position: relative;padding: 32px 8px;
						.info {
							.customer {font-size: 1.125rem;}
							.title {
								padding-top: 8px;font-size: 2rem;word-break: keep-all;
							}
						}
						.desc {
							flex-direction:column; gap: 8px;padding-top: 16px;
							.keywords {
								font-size: 1.5rem;
								.kinds {
									img {
										height: 24px;
									}
									&:last-of-type {display: block; padding-left: 2px;padding: 4px 0 0 0;font-size: 1.125rem;}
									&:last-of-type::before {display: none;}
								}
							}
							.period {
								position: absolute;right: 8px;bottom: 38px;
								font-size: 1.125rem;text-align: right;
							}
						}
					}
				}
			}

			// education 학력
			&.education {
				.flex-wrap {
					padding: 0;
					.group {
						&.g1 {
							display: none;
						}
						&.g2 {
							gap: 0px;flex-basis:100%;
							h4 {font-size: 1.5rem;}
							.item {
								display: flex;flex-direction: column; gap: 16px;padding: 40px 8px;
									.text-list {
										gap:16px;font-size: 1.25rem;
										&.licenses { gap: 0px;}
										.text {
											.period {
												flex-basis: 130px;padding-bottom: 8px;
											}
											.label {
												word-break: keep-all;
											}
											&:has(.academy):last-of-type {margin-top: 16px;}
											.academy {
												ul {
													font-size: 0.875rem;
													li {
														padding: 2px 0 ;
														&:first-of-type{padding-top: 8px;}
													}
												}
											}
											+.text {margin-top: 8px;}
										}
										&:not(.licenses) .text{
											display: block;
										}
									}
								+.item {border-top: 1px solid hsla(0, 0%, 78%, .2);;}
							}
						}
					}
				}
			}

			// skills section
			&.skills {
				.skill-list {
					gap: 50px;margin: 0 -46%; padding: 60px 0;animation: scroll 2s linear infinite alternate-reverse;

					@keyframes scroll {
						0% {
							transform: translateX(26%);
						}
						100% {
							transform: translateX(-26%);
						}
					}
					.skill {
						max-width: 80px;width: 80px;
						.img {width: 100%;}
					}
				}
			}

			//contact section
			&.contact {
				.content {
					.title {
						font-size: 2rem;max-width: 100%;padding: 0 8px 16px;
					}
					.phone,
					.mail {
						font-size: 1.5rem;padding: 8px;
					}
				}
			}
		}
	}
	.footer {
		padding: 60px 0;
		.footer_copyright {
			padding-top: 24px;

		}
	}

}
