@charset "UTF-8";

$black: #212121;
$warm-grey: #717171;
$medium-blue: #2d71c4;
$pinkish-grey: #cdcdcd;
$pale-grey: #f6f8f9;
$white: #eaeaea;
$charcoal-grey: #2e3235;
$greyish: #b9b9b9;
$white-two: #dddddd;
$pale-grey-two: #dce3e8;
$white-three: #bfbfbf;
$black-two: #222222;
$dusky-blue: #4e619d;
$faded-red: #dc495a;
$pale-grey-three: #f6f6f8;
$black-three: #333333;
$dark-sky-blue: #23aaea;
$warm-grey-two: #999999;
$warm-grey-three: #868686;
$warm-grey-four: #777777;
$tomato: #ed4d3d;
$white-four: #e4e4e4;
$lipstick: #c9152f;
$nice-blue: #196fc7;
$brownish-grey: #666666;
$nice-blue-two: #1065c5;
$cadet-blue: #556699;
$white-five: #f6f6f6;
$white-six: #ffffff;
$stormy-blue: #54759c;
$white-seven: #e1e1e1;
$seaweed: #11d081;
$pinkish-grey-two: #cccccc;
$silver: #b9bec3;
$lightblue: #7cb5ec;
$light-navy: #11335d;
$dark-sky-blue-two: #4793dc;
$greyish-brown: #555555;
$silver-two: #c0c4c9;
$purpleish-blue: #575cf2;
$greyish-brown-two: #3a3026;
//미션
$sun-yellow: #feda3c;
$black-four: #313131;
$milk-chocolate: #704424;


// #f471b6 #34d399 #c084fc
// #fbbf24 #60a5fa #818cf8

$custom-yellow:#fbbf24;
$custom-purple:#c084fc;
$custom-pink:#f471b6;
$custom-green:#34d399;
$custom-blue:#60a5fa;



.color-red {
	color: $lipstick !important;
}
.color-blue {
	color: $nice-blue !important;
}
.glow-blue {
	position: relative;
	z-index: 1;
	&:after {
		content: "";
		width: 100%;
		height: 50%;
		display: block;
		position: absolute;
		background: #34a0e1;
		left: 0;
		bottom: 0;
		z-index: -1;
	}
}
