$url : '/images/';
$spriteURL : '/images/sprite/';
$spriteCache : '?v2021090301';

// FONT
$rootFontsize : 16;



$defFontsize : $rootFontsize + px;
$defLineHeight : 1.6em;
$fontfamily: 'NotoSans',Helvetica,'맑은 고딕',sans-serif !default;


// 공통 좌우 패딩
$commSidePadding : rem(30);

// container common width
$containerWidth: 1200px;

// media
$mobileSize : 320px;
$tabletSize : 768px;
$pcSize : 1200px;

